*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #000000;
}

body{
    margin: auto;
    background-color: #191a1b;
    max-width: 1280px;
}

header{
    padding: 16px 0;
    background-color: yellow;
    color: #000000;
    border: dashed;
    border-radius: 1px;
    border-color: yellow;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a,
a{
    color: #000000;
    text-decoration: none;
}

header .container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header h1{
    color: #000000;
}
.container{ 
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section .container{
    width: 900px;
    display: flex;
    align-items: initial;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 20px;
}

section .container p,
section .container h3{
    padding: 20px 0;
}



header h1,
section h2,
section h3,
a{
    font-weight: normal;
    font-family: 'Roboto Mono', monospace;
    color: yellow;
}

header h1{
    color: #000000;
    font-weight: bold;
}

p{
    font-family: 'roboto', sans-serif;
    color: white;
}

h2{
    font-size:200%;
}

button { background-color: yellow;
    color:#000000;
    border: none;
    cursor: pointer;}
    
    form button:hover{
        background-color: #2c4da7;
        text-decoration: underline;
    }
    
    input:focus, textarea:focus{
        outline-color: yellow;
    }

    form input, textarea, button {
        display: block;
        width: 320px;
        margin-bottom: 8px;
        padding: 8px;
    }
    
    form textarea {
        resize: none;
        height: 180px;
    }
